<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{@site.url}}">
                {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" width="112" height="28" />
                {{else}}
                {{@site.title}}
                {{/if}}
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-start">
                {{!-- {{> "nav-search"}} --}}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if @site.secondary_navigation}}
                        {{navigation type="secondary"}}
                        {{else}}

                        {{#if @site.facebook}}

                        <a class="button" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank"
                            rel="noopener">
                            <span class="icon is-large">
                                <i class="fab fa-facebook-square"></i>
                            </span>
                        </a>

                        {{/if}}
                        {{#if @site.twitter}}
                        <a class="button" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank"
                            rel="noopener">
                            <span class="icon is-large">
                                <i class="fab fa-twitter-square"></i>
                            </span>
                        </a>
                        {{/if}}

                        {{#unless @labs.members}}
                        <a class="button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
                            target="_blank" rel="noopener">
                            <span class="icon is-large">
                                <i class="fas fa-rss-square"></i>
                            </span>
                        </a>
                        {{/unless}}


                        {{#if @labs.members}}
                        <a class="button is-light" href="#subscribe">
                            <span class="icon is-large">
                                <i class="fab fa-user"></i>
                            </span>
                            <span>Subscribe</span>
                        </a>
                        {{/if}}

                        {{#is "post"}}
                        <a class="button is-light {{#unless @site.logo}}dash{{/unless}}" href="{{url}}">
                            <span>{{post.title}}</span>
                        </a>
                        {{/is}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>