<div class="navbar-item">
    <div class="buttons">
        {{#if @site.secondary_navigation}}
        {{navigation type="secondary"}}
        {{else}}

        {{#if @site.facebook}}

        <a class="button" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">
            <span class="icon is-large">
                <i class="fab fa-facebook-square"></i>
            </span>
        </a>

        {{/if}}
        {{#if @site.twitter}}
        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet"
            data-social-target="https://github.com/VirtuallyCreative/Faye" target="_blank"
            href="{{twitter_url @site.twitter}}">
            <span class="icon is-large">
                <i class="fab fa-twitter"></i>
            </span>
            <span>
                Tweet
            </span>
        </a>
        {{/if}}

        {{#unless @labs.members}}
        <a class="button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank"
            rel="noopener">
            <span class="icon is-large">
                <i class="fas fa-rss-square"></i>
            </span>
        </a>
        {{/unless}}


        {{#if @labs.members}}
        <a class="button is-light" href="#subscribe">
            <span class="icon is-large">
                <i class="fab fa-user"></i>
            </span>
            <span>Subscribe</span>
        </a>
        {{/if}}

        {{#is "post"}}
        <a class="button is-light {{#unless @site.logo}}dash{{/unless}}" href="{{url}}">
            <span>{{post.title}}</span>
        </a>
        {{/is}}
        {{/if}}
    </div>
</div>