{{#if isSecondary}}
{{#foreach navigation}}

<a class="button is-primary is-inverted" href="{{url}}">
    <span>{{slug}}</span>
</a>

{{/foreach}}

{{else}}

{{#foreach navigation}}
<a class="navbar-item {{slug}} {{#if current}}is-active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}

{{/if}}