{{#if isSecondary}}
{{#foreach navigation}}

<a class="button is-primary is-inverted" href="{{url}}">
    <span>{{slug}}</span>
</a>

{{/foreach}}

{{else}}

{{#foreach navigation}}
<li {{#if current}}is-active{{/if}}>
    <a class="nav-{{slug}}" href="{{url absolute="true"}}">{{label}}</a>
</li>
{{/foreach}}

{{/if}}