<div class="column is-one-third is-full-mobile">
    <a href="{{url}}" class="canvas {{post_class}} ">
        <div class="canvas_border">
            <svg>
                <defs>
                    <linearGradient id="grad-orange" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:rgb(253,137,68);stop-opacity:1"></stop>
                        <stop offset="100%" style="stop-color:rgb(153,75,23);stop-opacity:1"></stop>
                    </linearGradient>
                    <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#D34F48"></stop>
                        <stop offset="100%" stop-color="#772522"></stop>
                    </linearGradient>
                </defs>
                <rect id="rect-grad" class="rect-gradient" fill="none" stroke="url(#grad-orange)"
                    stroke-linecap="square" stroke-width="4" stroke-miterlimit="30" width="100%" height="100%"></rect>
            </svg>
        </div>
        <div
            class="canvas_img-wrapper {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">
            <figure class="">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="canvas_img" srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
                    loading="lazy" src="{{img_url feature_image size="m"}}" alt="{{title}}" />
            </figure>
            {{!-- <img class="canvas_img" src="{{img_url profile_image size="xs"}}" alt="{{name}}"> --}}
        </div>
        <div class="canvas_copy canvas_copy--left">
            {{#if primary_tag}}
            {{#primary_tag}}
            <span class="canvas_copy_subtitle">{{name}}</span>
            {{/primary_tag}}
            {{/if}}
            <strong class="canvas_copy_title">{{title}}</strong>
            <span class="canvas_copy_details">{{excerpt words="5"}}</span>
        </div>
    </a>
</div>