<a class="fancy-card" href="{{url}}">
    <div class="card__background" style="background-image: url({{img_url feature_image size="s"}})" />
    </div>
    <div class="card__content">
        {{#primary_tag}}
        <p class="card__category">{{name}}&nbsp;&bull;&nbsp;{{reading_time}}</p>
        {{/primary_tag}}
        <h3 class="card__heading">{{title}}</h3>
    </div>
</a>