<div class="column is-one-third is-full-mobile">

    <article
        class="card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">
        {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <div class="card-image">
                <figure class="image is-4by3">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                    <img class="post-card-image" srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
                        loading="lazy" src="{{img_url feature_image size="m"}}" alt="{{title}}" />
                </figure>
            </div>
        </a>
        {{/if}}

        <div class="card-content">
            <a class="is-2" href="{{url}}">
                <h2>{{title}}</h2>
            </a>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 is-rounded">
                        {{#if profile_image}}
                        <a href="{{url}}" class="static-avatar">
                            <img class="author-profile-image" src="{{img_url profile_image size="xs"}}"
                                alt="{{name}}" />
                        </a>
                        {{else}}
                        {{!-- replace with bulma's Icon classes --}}
                        <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                        {{/if}}
                    </figure>
                </div>
                <div class="media-content">
                    {{#foreach authors}}
                    <p class="title is-4">{{name}}</p>
                    {{/foreach}}
                    <p class="subtitle is-6">{{#has author="count:>2"}}@Multiple authors{{else}}@{{authors}}{{/has}}</p>
                    <p class="is-small"><time
                            datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span
                            class="bull">&bull;</span> {{reading_time}}</p>
                </div>
            </div>

            <div class="content">
                {{#if feature_image}}
                <p>{{excerpt words="35"}}</p>
                {{else}}
                <p>{{excerpt words="45"}}</p>
                {{/if}}
                <br>
            </div>

        </div>{{!--/.post-card-content--}}

        <footer class="card-footer">
            {{#if primary_tag}}
            {{#primary_tag}}
            <p class="card-footer-item"><span>{{name}}</span></p>
            {{/primary_tag}}
            {{/if}}
        </footer>
    </article>
</div>