{{!-- Hero --}}
{{> header-background background=@site.cover_image}}
{{!--Special header-image.hbs partial to generate the background image--}}

<!-- Hero head: will stick at the top -->
<div class="hero-head">
    {{> "hero-nav"}}
</div>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
            {{#if @site.logo}}
            <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
            {{else}}
            {{@site.title}}
            {{/if}}
        </h1>
        <h2 class="subtitle">
            {{@site.description}}
        </h2>
    </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
    {{!-- Empty for now --}}
</div>

</div>
</section>